includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 5
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors:
        # Add ignored errors here as needed
